USE [master]
GO
/****** Object:  Database [BD_TSE]    Script Date: 19/12/2017 07:36:38 p. m. ******/
CREATE DATABASE [BD_TSE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_TSE', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BD_TSE.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_TSE_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BD_TSE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_TSE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_TSE]
GO
/****** Object:  StoredProcedure [dbo].[estadoConectado]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[estadoConectado]
	@user nvarchar(100),
	@estado INT
AS
BEGIN
	UPDATE USUARIO
	set [estado] = @estado
	where usuario = @user
END

GO
/****** Object:  StoredProcedure [dbo].[InsertBitacora]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertBitacora]
	@descripcion text,
	@fecha text
AS
BEGIN
	INSERT INTO BITACORA(DESCRIPCION, FECHA) VALUES(@descripcion, @fecha)
END

GO
/****** Object:  StoredProcedure [dbo].[nuevoCandidato]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[nuevoCandidato]
	@identidad nvarchar(50) = null,
	@nombre varchar(150) = null,
	@municipio int = null,
	@foto image = null,
	@usuario varchar(50) = null,
	@contraseña varchar(50) = null,
	@tipo int = null,
	@persona int = null,
	@partido int,
	@cargo int
AS
BEGIN
	declare @id_persona int
	if(@identidad is not null and not exists(select * from PERSONA where IDENTIDAD = @identidad)) 
		begin
			insert into dbo.PERSONA(IDENTIDAD, NOMBRE, ID_MUNICIPIO, FOTO) values (@identidad, @nombre, @municipio, @foto);
			set @id_persona = SCOPE_IDENTITY();
			insert into dbo.USUARIO(USUARIO, CONTRASEÑA, TIPO, ESTADO, ID_PERSONA) VALUES (@usuario, @contraseña, @tipo, 1, @id_persona)
		end
	else if (@identidad is not null)
		begin
			select @id_persona = ID from dbo.PERSONA where IDENTIDAD = @identidad
		end
	else
		begin
			set @id_persona = @persona
		end

	insert into dbo.CANDIDATO(ID_PERSONA, ID_PARTIDO, CARGO) values (@id_persona, @partido, @cargo)
END

GO
/****** Object:  StoredProcedure [dbo].[nuevoDepartamento]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[nuevoDepartamento]
	@nombre varchar(150),
	@pais int
AS
BEGIN
	if(not exists(select * from DEPARTAMENTO where NOMBRE = @nombre))
		insert into dbo.DEPARTAMENTO(NOMBRE, ID_PAIS) values (@nombre, @pais)
END

GO
/****** Object:  StoredProcedure [dbo].[nuevoMunicipio]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[nuevoMunicipio]
	@nombre varchar(150),
	@departamento int
AS
BEGIN
	if(not exists(select * from MUNICIPIO where NOMBRE = @nombre))
		insert into dbo.MUNICIPIO(NOMBRE, ID_DEPARTAMENTO) values (@nombre, @departamento)
END

GO
/****** Object:  StoredProcedure [dbo].[nuevoPais]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[nuevoPais]
	@nombre varchar(150)
AS
BEGIN
	insert into dbo.PAIS(NOMBRE) values (@nombre)
END

GO
/****** Object:  StoredProcedure [dbo].[nuevoPartidoPolitico]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[nuevoPartidoPolitico]
	@nombre varchar(50),
	@logo image
AS
BEGIN
	/***if(not exists(select * from PARTIDO_POLITICO where NOMBRE = @nombre))***/
		insert into dbo.PARTIDO_POLITICO(NOMBRE, LOGO) values (@nombre, @logo)
END

GO
/****** Object:  StoredProcedure [dbo].[nuevoUsuario]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[nuevoUsuario]
	@identidad nvarchar(50),
	@nombre varchar(150),
	@municipio int,
	@foto image = null,
	@usuario varchar(50),
	@contraseña varchar(50),
	@tipo int
AS
BEGIN
	insert into dbo.PERSONA(IDENTIDAD, NOMBRE, ID_MUNICIPIO, FOTO) values (@identidad, @nombre, @municipio, @foto)

	insert into dbo.USUARIO(USUARIO, CONTRASEÑA, TIPO, ESTADO, ID_PERSONA) VALUES (@usuario, @contraseña, @tipo, 1, SCOPE_IDENTITY())
END

GO
/****** Object:  StoredProcedure [dbo].[nuevoVoto]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[nuevoVoto]
	@persona int,
	@candidato int
AS
BEGIN
	insert into dbo.VOTO(ID_PERSONA, ID_CANDIDATO) values (@persona, @candidato)
END

GO
/****** Object:  StoredProcedure [dbo].[obtenerCandidatos]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtenerCandidatos]
	@tipo int,
	@municipio INT = NULL
AS
BEGIN
	SELECT PERSONA.ID, PERSONA.NOMBRE, PERSONA.ID_MUNICIPIO, PERSONA.FOTO, CANDIDATO.ID, PARTIDO_POLITICO.NOMBRE, PARTIDO_POLITICO.LOGO from PERSONA INNER JOIN
	CANDIDATO ON PERSONA.ID = CANDIDATO.ID_PERSONA INNER JOIN
	PARTIDO_POLITICO ON CANDIDATO.ID_PARTIDO = PARTIDO_POLITICO.ID
	WHERE CANDIDATO.CARGO = @tipo AND (@municipio IS NULL OR @municipio = PERSONA.ID_MUNICIPIO)
END

GO
/****** Object:  StoredProcedure [dbo].[obtenerDepartamentos]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obtenerDepartamentos]
	@pais int = null
AS
BEGIN
	if (@pais is not null)
	BEGIN
		SELECT DEPARTAMENTO.ID, DEPARTAMENTO.NOMBRE FROM DEPARTAMENTO INNER JOIN
		PAIS ON PAIS.ID = DEPARTAMENTO.ID_PAIS
		WHERE PAIS.ID = @pais
	END
	ELSE
	BEGIN
		SELECT DEPARTAMENTO.ID, DEPARTAMENTO.NOMBRE FROM DEPARTAMENTO
	END

END

GO
/****** Object:  StoredProcedure [dbo].[obtenerMunicipios]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtenerMunicipios]
	@pais int = null,
	@departamento int = null
AS
BEGIN
	if (@pais is null and @departamento is null)
	begin
		SELECT NOMBRE from MUNICIPIO
	end
	else if (@pais is not null)
	begin
		if (@departamento is not null)
		begin
			select MUNICIPIO.ID, MUNICIPIO.NOMBRE FROM MUNICIPIO INNER JOIN
			DEPARTAMENTO ON DEPARTAMENTO.ID = MUNICIPIO.ID_DEPARTAMENTO INNER JOIN
			PAIS ON PAIS.ID = DEPARTAMENTO.ID_PAIS
			WHERE PAIS.ID = @pais AND DEPARTAMENTO.ID = @departamento
		END
		ELSE
		BEGIN
			SELECT MUNICIPIO.ID, MUNICIPIO.NOMBRE FROM MUNICIPIO INNER JOIN
			DEPARTAMENTO ON DEPARTAMENTO.ID = MUNICIPIO.ID_DEPARTAMENTO INNER JOIN
			PAIS ON PAIS.ID = DEPARTAMENTO.ID_PAIS
			WHERE PAIS.ID = @pais
		END
	END 
	ELSE
	BEGIN
		SELECT MUNICIPIO.ID, MUNICIPIO.NOMBRE FROM MUNICIPIO INNER JOIN
		DEPARTAMENTO ON DEPARTAMENTO.ID = MUNICIPIO.ID_DEPARTAMENTO
		WHERE DEPARTAMENTO.ID = @departamento
	END

END

GO
/****** Object:  StoredProcedure [dbo].[obtenerPaises]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtenerPaises]
AS
BEGIN
	SELECT ID, NOMBRE FROM PAIS
END

GO
/****** Object:  StoredProcedure [dbo].[obtenerPartidos]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[obtenerPartidos]
AS
BEGIN
	SELECT ID, NOMBRE, LOGO FROM PARTIDO_POLITICO
END

GO
/****** Object:  StoredProcedure [dbo].[obtenerPersonas]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obtenerPersonas]
	@id INT = NULL,
	@identidad NVARCHAR(250) = NULL
AS
BEGIN
	if (@id is not null)
	BEGIN
		SELECT PERSONA.ID, PERSONA.IDENTIDAD, PERSONA.NOMBRE, PERSONA.FOTO, USUARIO.USUARIO, USUARIO.TIPO, PAIS.NOMBRE, DEPARTAMENTO.NOMBRE, MUNICIPIO.NOMBRE FROM PERSONA INNER JOIN
		USUARIO ON USUARIO.ID_PERSONA = PERSONA.ID INNER JOIN
		MUNICIPIO ON MUNICIPIO.ID = PERSONA.ID_MUNICIPIO INNER JOIN
		DEPARTAMENTO ON DEPARTAMENTO.ID = MUNICIPIO.ID_DEPARTAMENTO INNER JOIN
		PAIS ON PAIS.ID = DEPARTAMENTO.ID_PAIS
		WHERE PERSONA.ID = @id
	END
	ELSE IF (@identidad is not null)
	BEGIN
		SELECT PERSONA.ID, PERSONA.IDENTIDAD, PERSONA.NOMBRE, PERSONA.FOTO, USUARIO.USUARIO, USUARIO.TIPO, PAIS.NOMBRE, DEPARTAMENTO.NOMBRE, MUNICIPIO.NOMBRE FROM PERSONA INNER JOIN
		USUARIO ON USUARIO.ID_PERSONA = PERSONA.ID INNER JOIN
		MUNICIPIO ON MUNICIPIO.ID = PERSONA.ID_MUNICIPIO INNER JOIN
		DEPARTAMENTO ON DEPARTAMENTO.ID = MUNICIPIO.ID_DEPARTAMENTO INNER JOIN
		PAIS ON PAIS.ID = DEPARTAMENTO.ID_PAIS
		WHERE PERSONA.IDENTIDAD = @identidad
	END
	ELSE
	BEGIN
		SELECT PERSONA.ID, PERSONA.IDENTIDAD, PERSONA.NOMBRE, PERSONA.FOTO, USUARIO.USUARIO, USUARIO.TIPO, PAIS.NOMBRE, DEPARTAMENTO.NOMBRE, MUNICIPIO.NOMBRE FROM PERSONA INNER JOIN
		USUARIO ON USUARIO.ID_PERSONA = PERSONA.ID INNER JOIN
		MUNICIPIO ON MUNICIPIO.ID = PERSONA.ID_MUNICIPIO INNER JOIN
		DEPARTAMENTO ON DEPARTAMENTO.ID = MUNICIPIO.ID_DEPARTAMENTO INNER JOIN
		PAIS ON PAIS.ID = DEPARTAMENTO.ID_PAIS
	END

END

GO
/****** Object:  StoredProcedure [dbo].[obtenerResultados]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obtenerResultados]
	@tipo int
AS
BEGIN
	SELECT P.NOMBRE, PP.NOMBRE, CAST(P.FOTO AS varbinary), CAST(PP.LOGO AS varbinary), COUNT(V.ID) FROM PERSONA AS P
	INNER JOIN CANDIDATO AS C ON P.ID = C.ID_PERSONA
	INNER JOIN PARTIDO_POLITICO AS PP ON PP.ID = C.ID_PARTIDO
	LEFT OUTER JOIN VOTO AS V ON C.ID = V.ID_CANDIDATO
	WHERE C.CARGO = @tipo
	GROUP BY P.NOMBRE, PP.NOMBRE, CAST(P.FOTO AS varbinary), CAST(PP.LOGO AS varbinary)
END

GO
/****** Object:  StoredProcedure [dbo].[registrarBitacora]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[registrarBitacora]
	@descripcion text,
	@usuario int,
	@fecha varchar(20)
AS
BEGIN
	insert into dbo.BITACORA(DESCRIPCION, ID_USUARIO, FECHA) values (@descripcion, @usuario, @fecha)
END

GO
/****** Object:  StoredProcedure [dbo].[validar]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[validar]
	@usuario nvarchar(50),
	@contraseña nvarchar(50)
AS
BEGIN
	SELECT USUARIO.ID, PERSONA.ID, USUARIO.TIPO, USUARIO.USUARIO FROM USUARIO INNER JOIN
	PERSONA ON USUARIO.ID = PERSONA.ID 
	WHERE USUARIO.USUARIO = @usuario AND USUARIO.CONTRASEÑA = @contraseña
END

GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [text] NOT NULL,
	[FECHA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CANDIDATO]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDATO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[ID_PARTIDO] [int] NOT NULL,
	[CARGO] [int] NOT NULL,
 CONSTRAINT [PK_CANDIDATO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[ID_PAIS] [int] NOT NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DEPARTAMENTO] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MUNICIPIO]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUNICIPIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
 CONSTRAINT [PK_MUNICIPIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_MUNICIPIO] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PAIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_PAIS] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARTIDO_POLITICO]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDO_POLITICO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[LOGO] [image] NOT NULL,
 CONSTRAINT [PK_PARTIDO_POLITICO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_PARTIDO_POLITICO] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDENTIDAD] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](150) NOT NULL,
	[ID_MUNICIPIO] [int] NOT NULL,
	[FOTO] [image] NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_PERSONA] UNIQUE NONCLUSTERED 
(
	[IDENTIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [nvarchar](50) NOT NULL,
	[CONTRASEÑA] [nvarchar](50) NOT NULL,
	[TIPO] [int] NOT NULL,
	[ESTADO] [int] NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VOTO]    Script Date: 19/12/2017 07:36:38 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NOT NULL,
	[ID_CANDIDATO] [int] NOT NULL,
 CONSTRAINT [PK_VOTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CANDIDATO]  WITH NOCHECK ADD  CONSTRAINT [FK_CANDIDATO_PARTIDO_POLITICO] FOREIGN KEY([ID_PARTIDO])
REFERENCES [dbo].[PARTIDO_POLITICO] ([ID])
GO
ALTER TABLE [dbo].[CANDIDATO] CHECK CONSTRAINT [FK_CANDIDATO_PARTIDO_POLITICO]
GO
ALTER TABLE [dbo].[CANDIDATO]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDATO_PERSONA] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID])
GO
ALTER TABLE [dbo].[CANDIDATO] CHECK CONSTRAINT [FK_CANDIDATO_PERSONA]
GO
ALTER TABLE [dbo].[DEPARTAMENTO]  WITH NOCHECK ADD  CONSTRAINT [FK_DEPARTAMENTO_PAIS] FOREIGN KEY([ID_PAIS])
REFERENCES [dbo].[PAIS] ([ID])
GO
ALTER TABLE [dbo].[DEPARTAMENTO] CHECK CONSTRAINT [FK_DEPARTAMENTO_PAIS]
GO
ALTER TABLE [dbo].[MUNICIPIO]  WITH NOCHECK ADD  CONSTRAINT [FK_MUNICIPIO_DEPARTAMENTO] FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([ID])
GO
ALTER TABLE [dbo].[MUNICIPIO] CHECK CONSTRAINT [FK_MUNICIPIO_DEPARTAMENTO]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_MUNICIPIO] FOREIGN KEY([ID_MUNICIPIO])
REFERENCES [dbo].[MUNICIPIO] ([ID])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PERSONA_MUNICIPIO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERSONA] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PERSONA]
GO
ALTER TABLE [dbo].[VOTO]  WITH NOCHECK ADD  CONSTRAINT [FK_VOTO_CANDIDATO1] FOREIGN KEY([ID_CANDIDATO])
REFERENCES [dbo].[CANDIDATO] ([ID])
GO
ALTER TABLE [dbo].[VOTO] CHECK CONSTRAINT [FK_VOTO_CANDIDATO1]
GO
ALTER TABLE [dbo].[VOTO]  WITH CHECK ADD  CONSTRAINT [FK_VOTO_PERSONA] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID])
GO
ALTER TABLE [dbo].[VOTO] CHECK CONSTRAINT [FK_VOTO_PERSONA]
GO
USE [master]
GO
